.breeding-season-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0; /* Provide some padding for breathing space */
    border-bottom: 1px solid #ccc; /* Add a separator line if you want */
}

#breeding-season-input {
    width: 60px; /* Keeping the width restricted to 4 chars */
    margin-left: 10px;
}

.cow-edit-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.cow-edit-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;  /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;  /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.create-cow-modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
}
.create-cow-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;  /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%;  /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close-button {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover, .close-button:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /* margin-top: 50px; */
}

.content-row {
    display: flex;
    width: 100%; /* or you can set it to a fixed value if you want */
    justify-content: center; /* or 'center' depending on your preference */
    padding: 20px; /* Add some padding for spacing */
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}

.form-container form {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
}

.form-container form button {
    margin-top: 10px;
}

textarea {
    height: 50px;
}

.result-container {
    margin-top: 20px;
    width: 100%;
}
.result-container table {
    width: 100%;
    border-collapse: collapse;
}

.result-container th,
.result-container td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.result-container th:last-child,
.result-container td:last-child {
    border-right: none;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 500px;
    max-height: 80vh;
    overflow-y: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);`
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.form-group {
	display: flex;
	align-items: center;
    margin-bottom: 10px;
}

.checkbox-input {
	margin-left: 10px; /* Adjust the margin as needed for spacing */
}

ul {
    list-style-type: none;
    padding:0;
    margin: 0;
}

.header-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 15px;
}

.toggle-icon {
    margin-right: 10px;
    font-size: 1em; /* Adjusted to match the new header text size */
}

.header-text {
    font-size: 1.5em; /* Typically the size of an h4 */
    font-weight: bold;
    margin: 0;
}

.entry-box {
    padding: 10px;
    /* margin: 10px 0; */
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.entry-box-even {
    background-color: #ffffff;
}

.entry-box-odd {
    background-color: #e0e0e0;
}

.entry-item {
    margin-bottom: 4px;
}

.entry-item:last-child {
    margin-bottom: 0;
}

.entry-box:hover {
    background-color: #d0d0d0;
}

#stats-content .header-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    margin-bottom: 15px;
}

#stats-content .toggle-icon {
    margin-right: 10px;
    font-size: 1em;
}

#stats-content .header-text {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
}

#stats-entries {
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}