{% load static %}
{% if cow %}
<div id="createCowModal" class="modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create Cow: "{{ cow.ear_tag_id }}"</h5>
                <button type="button" class="close">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'cow-create' %}">
                    {% csrf_token %}
                    <input type="hidden" name="ear_tag_id" value="{{ cow.ear_tag_id }}">

                    <div class="mb-3">
                        <label for="edit_eid" class="form-label fw-semibold small">RFID</label>
                        <input type="text" id="edit_eid" name="eid" placeholder="Optional">
                    </div>

                    <div class="mb-3">
                        <label for="edit_birth_year" class="form-label fw-semibold small">Birth Year</label>
                        <input type="number" id="edit_birth_year" name="birth_year" required>
                    </div>

                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary btn-sm">Create</button>
                        <button id="create-cow-modal-cancel-btn" type="button" class="btn btn-outline-secondary btn-sm">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
